@import "reset";
@import "themes/light";
@import "themes/dark";
@import "variables/global";

.App {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}