.App.dark {
  --bg-color: #0b277b;
  --inverted-bg-color: #f3f5fb;

  --primary-color: #207c0a;
  --secondary-color: #35c910;
  --inverted-primary-color: #032681;
  --inverted-secondary-color: #0569cf;
}