.App.light {
  --bg-color: #f3f5fb;
  --inverted-bg-color: #0b277b;

  --primary-color: #032681;
  --secondary-color: #0569cf;
  --inverted-primary-color: #207c0a;
  --inverted-secondary-color: #35c910;
}